version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 5s
      timeout: 3s
      retries: 10

  logging-service:
    build: ./logging_service
    container_name: logging-service
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      - PYTHONUNBUFFERED=1

  inventory-service:
    build: ./inventory_service
    container_name: inventory-service
    restart: always
    depends_on:
      rabbitmq:
        condition: service_healthy
      logging-service:
        condition: service_started
    ports:
      - "50051:50051"
  payment-service:
      build: ./payment_service
      container_name: payment-service
      ports:
        - "8080:8080"
      depends_on:
        - rabbitmq
      environment:
        - PYTHONUNBUFFERED=1
  oms-service:
    build: ./oms
    container_name: oms-service
    ports:
      - "8000:8000"
    depends_on:
      - inventory-service
